<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>common template</title>
    <link type="text/css" rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/pms.css}">
</head>
<body>
    <header th:fragment="commonHeader" class="header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <span class="navbar-brand mb-0 h1" href="#">PMS</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div sec:authorize="isAuthenticated()" class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/project}">Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/team}">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/profile}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <script th:src="@{/vendor/jquery/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>