<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Management System</title>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/pms.css}" type="text/css" rel="stylesheet">
</head>
<body>
    <header th:replace="commons/common_template :: commonHeader"></header>
    <main class="" role="main">
    </main>
    <script th:src="@{/vendor/jquery/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>